*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    
    align-items: center;
    justify-content: center;
    
  }
  
  .cajaexterior {
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 50%;
    padding: 0;
    
    justify-content: center;
    
  }
  
  .cajaexterior picture {
    width: 155%;
  }
  
  .cajaexterior picture img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .cajainter1 {
    
    width: 100%;
    height: 80%;
    justify-content: center;
    text-align: center;
    
  }
  
  .cajainter1 h2 {
    width: 87%;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    padding: 35px;
    justify-content: center;
    
  }
  
  .cajainter1 p {
    
    padding: 30px;
    width: 80%;
    
    
  }
  .estado {
    display: flex;
    padding: 10px;
  }
  
  .pr1 {
    padding-right: 15px;
    padding-left: 35px;
  }
  
  .pr2 {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .pr3 {
    padding-right: 25px;
    padding-left: 25px;
  }